<form class="loginForm" (ngSubmit)="onSmsCodeFormSubmit()" [formGroup]="smsCodeForm" >
  <div class="code-header">
    <ion-text class="ion-text-right ">
      <div style="margin-right:7vw;">
        <h1>קוד אימות</h1>
        <p>קוד אימות תקף ל5 דק' הקרובות</p>
      </div>
     
    </ion-text>
  </div>
  <div class="input-group code-inputs" style="justify-content: center;">
    <ion-row text-center>
      <ion-col size="2">
       <ion-input   #otp1 type="text" inputmode="numeric" maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"  formControlName="text1" (keyup)="otpController($event,otp2,'')">
       </ion-input>
      </ion-col>
    <ion-col size="2">
       <ion-input #otp2 type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" formControlName="text2" (keyup)="otpController($event,otp3,otp1)">
       </ion-input>
      </ion-col>
    <ion-col size="2">
       <ion-input  #otp3 type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"  formControlName="text3" (keyup)="otpController($event,otp4,otp2)">
       </ion-input>
      </ion-col>
    <ion-col size="2">
       <ion-input #otp4 type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"  formControlName="text4" (keyup)="otpController($event,otp5,otp3)">
       </ion-input>
      </ion-col>
    <ion-col size="2">
       <ion-input #otp5 type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"  formControlName="text5" (keyup)="otpController($event,otp6,otp4)">
       </ion-input>
      </ion-col>
      <ion-col size="2">
       <ion-input #otp6  type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" formControlName="text6" (keyup)="otpController($event,'',otp5)">
       </ion-input>
      </ion-col>
    </ion-row>
  </div>
    <ion-text (click)="resendSms()" class="ion-text-center" ><h2>שלח קוד שוב</h2></ion-text>
    <ion-text  (click)="back()" class="ion-text-center"><p>חזור</p></ion-text>
    <app-main-btn style="width:100vw ;"
    type="submit" sms [disabled]="smsCodeForm.invalid" text="{{'pages.login.nextBtn'| translate}}"></app-main-btn>
    <div style="display: flex;
     justify-content:center;">
      <app-login-steps-navbar [textForm]="true"></app-login-steps-navbar>
     </div>
  
</form>
