.loginForm {
  position: absolute;
  top: 20%;
  width: 100vw;
  color: #fff;
}
ion-input{
  font-size: 25px;
}
h2{
  font-weight:bold;
  font-size: 20px;
}
.code-inputs ion-input {
  display: inline-block;
  width: 40px;
  height: 40px;
  // margin:10px;
  color: #fff;
  margin-top:10vh;
  border: 0px;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  // --background:#e1e1e1;
 
  --padding-start: 35%;
}
// .my-custom-class{
//   background-color: red;
//   width: 90vw;
//   height: 50vh;
// }
