.loginForm {
  position: absolute;
  top: 20%;
  width: 100vw;
  color: #fff;
}
ion-input{
  font-size: 25px;
}
h2{
  font-weight:bold;
  font-size: 20px;
}
.code-inputs ion-input {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  margin-top:10vh;
  border: 0px;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  --padding-start: 35%;
}

