<!-- <ion-row> -->
  <!-- <div style="margin-top:10%; text-align: center;"> -->
    <!-- <h1> הרשמה/ התחברות</h1> -->
  <ion-row style="margin-top:55%; width: 25vw;" dir="{{'dir' | translate}}">
    <ion-col > <div  class="icon-circle" style="text-align: -webkit-center;" [ngClass]="{'icon-circle-active': !textForm && !creditCardForm }"></div> </ion-col>
    <ion-col > <div  class="icon-circle" style="text-align: -webkit-center;" [ngClass]="{'icon-circle-active': textForm && !creditCardForm  }"></div> </ion-col>
    <ion-col > <div class="icon-circle" style="text-align: -webkit-center;" [ngClass]="{'icon-circle-active': creditCardForm  }"></div> </ion-col>
  </ion-row>
  <!-- </div> -->