.icon-circle {
  width: 8px;
  height: 8px;
  margin-top: 2px;
  border-radius: 50%;
  background: #efefef;
}
.icon-circle-active {
  width: 13px;
  height: 13px;
  margin-top: 0px;
  background: var(--ion-color-btn);
}
