ion-menu-button{
position: absolute;
top: 25px;
right: 0;
}

.toolbar-container{
  height:75px !important ;
  margin-bottom: 5vh !important;
}
// ion-icon{
//   color: #fff;
// }
.my-custom-menu {
  --width: 500px;
}

ion-toolbar{
  // height: 90px;
}
.nemu-img{
  background: url('../../../assets/images/Group\ 2660.png') 0 0/100% 100% no-repeat;
}
.nemu-text{

   color: #fff; ;
}
section {
  margin-top: 5em;
  margin-bottom: 2.5em;
}

section:not(.full-width),
.full-width > header {
  padding: 0 10px;
}
.main-list{
  margin: 5%;
}