ion-menu-button{
position: absolute;
top: 25px;
}

.toolbar-container{
  height:75px !important ;
  margin-bottom: 5vh !important;
}

.my-custom-menu {
  --width: 500px;
}

.nemu-text{

   color: #fff; ;
}
section {
  margin-top: 5em;
  margin-bottom: 2.5em;
}

section:not(.full-width),
.full-width > header {
  padding: 0 10px;
}
.main-list{
  margin: 5%;
}