ion-menu-button{
position: absolute;
top: 25px;
}
ion-header ,ion-list{
  background: #fff;
}
ion-content,ion-item{
  --background: #fff;
}
ion-label,ion-icon{
  color: #000 !important;
}
ion-label.userEmail{
  color:#FFB300 !important;
}
ion-text.userName{
  display: block;
  font-weight: bold;
  color: #000 ;
}
.image-center{
  margin: 0vh auto;
  margin-bottom:5vh;
  text-align: center;
  position: relative;
  }
.avatar-user{
  margin: 0vh auto;
    width: 30%;
  }

.toolbar-container{
  height:75px !important ;
  // margin-bottom: 5vh !important;
}

.my-custom-menu {
  --width: 500px;
}

.nemu-text{

  //  color: #fff; ;
}
section {
  margin-top: 5em;
  margin-bottom: 2.5em;
}

section:not(.full-width),
.full-width > header {
  padding: 0 10px;
}
.main-list{
  margin: 5%;
}
.isrLogo-container{
  position: absolute;
  bottom: 2vh;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
}