<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-wave ></app-header-wave>
    <app-back-btn (click)="goToMenu()"></app-back-btn>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Dark Mode</ion-label>
          <ion-toggle
            (ionChange)="onToggleColorTheme($event)"
            [checked]="ischecked"
          ></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-list>
      <ion-radio-group
        [value]="defaultLang"
        (ionChange)="radioGroupChange($event)"
      >
        <ion-list-header>
          <ion-label>Languages</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>English</ion-label>
          <ion-radio slot="start" color="medium" value="en"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Hebrew</ion-label>
          <ion-radio slot="start" color="medium" value="he"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-grid>
</ion-content>
