ion-header{
  background: #fff;
}
ion-toolbar{
  --background: #fff;
}
ion-content{
  --background:#fff;
}
ion-list{
  background: #fff;
}
ion-item{
  --background: #fff;
  color: #000 !important;
  
}