<ion-content class="no-scroll">
  <!-- <app-header-wave text="נסיעה פעילה"></app-header-wave> -->
  <app-map [height]="mapHight"></app-map>
  <div #travelBody id="travelBody" class="travel-body">
    <div>
      <!-- <div class="half-circle"></div> -->
    </div>
    
    <div #drowerBar id="drowerBar" (click)="onClick()">
      <ion-img class="arrow-img"></ion-img>
    </div>

    <ion-grid class="body-card-1" id="body-card-1">
      <ion-row *ngFor="let station of allStations" style="direction: rtl">
        <ion-col>
          <h4>{{station.stationName}}</h4>
          <ion-label>{{station.stationCityName||''}}</ion-label>
          <div #dated class="dated"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
