ion-item.header{
--background: #fff00;
  position: fixed;
  top: 2vh;
  z-index: 3;
  width: 90vw;
}
.pageTitle{
  margin-right: 15px;

}
.no-scroll {
  --overflow: hidden;
}
.body-card-1 {
  justify-content: end;
  height: 20vh;
  width: 100%;
  overflow-y: auto;
  // padding: 0px 2%;
}
.body-card-height-open{
  height: 90%;
}
.travel-body {
    position: fixed;
    top: 15vh;
    height: 27vh;
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
    margin:0 5vw;
    z-index: 1;
    display: inline-grid;
    justify-items: center;
    border-radius: 10px;
    transition: height 300ms;
    box-shadow: 0px 3px 6px #18171740;
    color: #000;
    
}
.OpenBig {
  height: 75vh;
  .arrow-down-img {
    transform: rotate(180deg);
    
  }
}
.close{
  height: 0vh;
}

.item-background-color {
  --ion-item-background: var(--ion-color-btn);
  margin-right: 2%;
  margin-top: 5%;
  border-radius: 6%;
  height: 40px;
  width: 70px;
}
.bedIcon {
  margin-right: 25%;
  color: #fff;
  margin-bottom: 10%;
}
.dated {
  height: 4vh;
  border-right: 3px black dashed;
}
hr {
  border: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}
.arrow-down-img {
  width: 20px;
  content: url(../../../assets/arrow-down.svg);
}

#drowerBar {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  width: 100%;
  height: 5vh;
  display: flex;
  padding-bottom: 2px;
  justify-content: center;
  // background: #091d31;

}
h4 {
  margin: 0;
}
app-header-wave {
  position: absolute;
  top: 0;
  z-index: 78;
  width: 100%;
}

.travel-body:before,
div:after {
  content:"";
  position: absolute;
}
.travel-body:before {
  top: -132px;
  width: 80px;
  height: 148px;
  border-radius: 63%;
  box-shadow: 0px 0px 1px #d7d8da, 0px 0px 5px #dee2e6, 0px 0px 0px #d7d8da, 0px 0px 0px 10000px #f9fafb;
  z-index: -1;
}

.footer-container {
  position: absolute;
  bottom: 3vh;
  display: flex;
}
.item-background {
  --ion-item-background: none;
  width: 100%;
 
}

.travel-info-header-icons {
  width: 25px;
  height: auto;
  margin-top: 20%;
}
.travel-info-icons {
  width: 18px;
  height: auto;
}
.travel-info-icons-small {
  width: 8px;
  height: auto;
  margin-top: 20%;
}
ion-item {
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}
.close-travelBody{
  position: absolute;
  top: 3vh;
  display: flex;
  width: 100vw;
  z-index: 5;
  justify-content: left;
}
.open-travelBody{
  position: absolute;
  top: 8vh;
  display: flex;
  width: 100vw;
  z-index: 5;
  justify-content: center;
}
.open-travelBody ion-fab-button{
  background: #fff;
  border-radius: 60%;
  // box-shadow: 0px 3px 6px #18171740;
}

ion-icon[name="add-outline"]{
  transition: transform 300ms;
  color: black !important;
}
// .show{
  // transform: rotate(45deg);
  // transition: transform 300ms;
  
// }
.hideItem{
  display: none;
}
