<ion-content class="no-scroll">


  <app-map [height]="mapHight"></app-map>
  <div #travelBody id="travelBody" class="travel-body">
    <hr #drowerBar class="drowerBar" />
    <ion-grid class="body-card-1">
      <ion-row style="direction: rtl">
        <ion-col size="3">
          <ion-item text-right lines="none" class="item-background-color"
            ><ion-icon name="bed" class="bedIcon"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          <h4>שדה התעופה בן גוריון</h4>
          <ion-label>לוד</ion-label>
          <div #dated class="dated" id="dated"></div>
        </ion-col>
      </ion-row>
      <div>
        <ion-row style="direction: rtl">
          <ion-col size="3"></ion-col>
          <ion-col>
            <h4>מלון בראשית</h4>
            <ion-label>ירושלים</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <ion-grid class="body-card-2">
      <ion-row>
        <ion-col>
          <div style="display: flex; justify-content: space-evenly"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
