
<form class="loginForm" (ngSubmit)="onPhoneNumderFormSubmit()" [formGroup]="phoneNumderForm" >
  <div>
     <ion-label position="stacked" class="" dir="{{'dir' |translate}}"><h2>{{'pages.login.phoneInputText' |translate}}</h2></ion-label>
      <!-- <ion-input dir="{{'dir' |translate}}" #phoneInput placeholder="מספר טלפון לזיהוי"  autofocus="true" type="tel" inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="phone" formControlName="phone"  required></ion-input> -->

      <label class="fluatingLabel" dir="{{'dir' |translate}}">
        <ion-input #phoneInput
        dir="ltr"
        autofocus="true"
          class="input"
          type="tel"
          inputmode="numeric"
          id="firstName"
          oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="phone" 
          formControlName="phone"  
        ></ion-input>
        <span class="labelSpan">מספר טלפון לזיהוי</span>
      </label>
  </div>
   
    <app-main-btn style="position: fixed;
    bottom: 34px;" type="submit" [disabled]="phoneNumderForm.invalid" text="{{'pages.login.nextBtn'| translate}}"></app-main-btn>
    </form>