
<form class="loginForm" (ngSubmit)="onPhoneNumderFormSubmit()" [formGroup]="phoneNumderForm" >
  
    <div class="text-container">
      <ion-label position="stacked" class=""  dir="{{'dir' |translate}}"><h2 style="color: #fff;">{{'pages.login.phoneInputText' |translate}}</h2></ion-label>
      <ion-text  style="float:right; color: #fff;">מס' טלפון לזיהוי</ion-text>
    </div>
     
      <!-- <ion-input dir="{{'dir' |translate}}" #phoneInput placeholder="מספר טלפון לזיהוי"  autofocus="true" type="tel" inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="phone" formControlName="phone"  required></ion-input> -->
      <div class="input-container">
      <label class="fluatingLabel" dir="{{'dir' |translate}}">
        <ion-input #phoneInput
        dir="ltr"
        autofocus="true"
          class="input"
          type="tel"
          inputmode="numeric"
          id="firstName"
          maxlength="10"
          oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="phone" 
          formControlName="phone"  
        ></ion-input>
        <span class="labelSpan">מספר טלפון </span>
      </label>
  </div>
   
    <app-main-btn style="margin-top: 5vh;
     width: 100vw;" type="submit" [disabled]="phoneNumderForm.invalid" text="{{'pages.login.nextBtn'| translate}}"></app-main-btn>
     <div style="display: flex;
     justify-content:center;">
      <!-- <app-login-steps-navbar [textForm]="false"></app-login-steps-navbar> -->
     </div>
     
    </form>
  