<ion-col size="2">
  <ion-input   #otp1 type="text" inputmode="numeric" maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"   (keyup)="otpController($event,otp2,'')">
  </ion-input>
 </ion-col>
<ion-col size="2">
  <ion-input #otp2 type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"  (keyup)="otpController($event,otp3,otp1)">
  </ion-input>
 </ion-col>
<ion-col size="2">
  <ion-input  #otp3 type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"   (keyup)="otpController($event,otp4,otp2)">
  </ion-input>
 </ion-col>
<ion-col size="2">
  <ion-input #otp4 type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"   (keyup)="otpController($event,otp5,otp3)">
  </ion-input>
 </ion-col>
<ion-col size="2">
  <ion-input #otp5 type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"   (keyup)="otpController($event,otp6,otp4)">
  </ion-input>
 </ion-col>
 <ion-col size="2">
  <ion-input #otp6  type="text" inputmode="numeric"  maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"  (keyup)="otpController($event,'',otp5)">
  </ion-input>
 </ion-col>
