<ion-content>
  <app-header-wave [big]="true"></app-header-wave>
  <app-back-btn (click)="goToUserProfile()"></app-back-btn>
  <app-credit-card
    [cardNum]="cardNum"
    [cardDate]="cardDate"
    [userName]="userName"
    [cvsNum]="cvsNum"
    [flipClass]="flipClass"
  ></app-credit-card>

  <form
    dir="{{'dir'|translate}}"
    class="user-details-Form"
    [formGroup]="cardDetails"
    (ngSubmit)="updateCreditCard()"
    
  >
    <h1>פרטי אשראי</h1>
    <div class="input-group">
      <ion-input
        (keyup)="cardNumKeyUp($event)"
        placeholder="מספר אשראי"
        type="tel"
        inputmode="numeric"
        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
        id="cardNum"
        formControlName="cardNum"
        required
      ></ion-input>
    </div>

    <div class="input-group">
      <ion-input
        placeholder="תוקף"
        type="text"
        [value]="date"
        id="open-date-modal"
        formControlName="date"
        required
      ></ion-input>
    </div>
    <div class="input-group">
      <ion-input
        (ionFocus)="cvSInputFocus()"
        (ionBlur)="cvSInputUnFocus()"
        (keyup)="cardCvsKeyUp($event)"
        placeholder="CVS"
        type="tel"
        inputmode="numeric"
        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
        id="csvNum"
        formControlName="csvNum"
        maxlength="3"
        minlength="3"
        required
      ></ion-input>
    </div>
    <div class="input-group">
      <ion-input
        placeholder="ת.ז של בעל הכרטיס"
        type="tel"
        id="userId"
        formControlName="userId"
        inputmode="numeric"
        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
        required
      ></ion-input>
    </div>

    <div class="input-group">
      <ion-input
        (keyup)="userNameKeyUp($event)"
        placeholder="שם בעל הכרטיס"
        type="text"
        id="userName"
        formControlName="userName"
        required
      ></ion-input>
    </div>

    <ion-modal
      trigger="open-date-modal"
      mode="md"
      (willDismiss)="onWillDismiss($event)"
    >
      <ng-template>
        <ion-content force-overscroll="false"
          ><ion-datetime
            locale="he-IL"
            size="cover"
            #dateTime
            displayFormat="MM/YYYY"
            showDefaultTimeLabel="false"
            [presentation]="'month-year'"
            (ionChange)="dataChange(dateTime.value)"
          >
            <ion-buttons slot="buttons">
              <ion-button (click)="close()">Dismiss</ion-button>
              <ion-button (click)="select()">Select</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
    <div class="input-group" dir="ltr">
      <ion-button class="saveSubmit" type="submit" expand="full" [disabled]="cardDetails.invalid"
        >{{'pages.userDetais.updated'|translate}}
      </ion-button>
    </div>
  </form>
</ion-content>
<!-- <ion-footer> </ion-footer> -->
