<ion-header class="ion-no-border" style="height: 10vh">
  <ion-toolbar>
    <!-- <app-header-wave></app-header-wave> -->
    <app-back-btn (click)="goToUserProfile()"></app-back-btn>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-header-wave [big]="true"></app-header-wave>
  <app-back-btn (click)="goToUserProfile()"></app-back-btn> -->
  <!-- <app-credit-card
    [cardNum]="cardNum"
    [cardDate]="cardDate"
    [userName]="userName"
    [cvsNum]="cvsNum"
    [flipClass]="flipClass"
  ></app-credit-card> -->
  
  <form
    dir="{{'dir'|translate}}"
    class="card-details-Form"
    [formGroup]="cardDetails"
    (ngSubmit)="updateCreditCard()"
  >
    <h1>{{'pages.credit-card-details.ccDetails'|translate}}</h1>
    <div class="input-group">
      <ion-input
        (keyup)="cardNumKeyUp($event)"
        placeholder="{{'pages.credit-card-details.ccNumber'|translate}}"
        type="tel"
        inputmode="numeric"
        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
        id="cardNum"
        formControlName="cardNum"
        required
      ></ion-input>
    </div>

    <div class="input-group">
      <ion-input
        placeholder="{{'pages.credit-card-details.validity'|translate}}"
        type="text"
        [value]="date"
        id="open-date-modal"
        formControlName="date"
        required
      ></ion-input>
    </div>
    <div class="input-group">
      <ion-input
        (ionFocus)="cvSInputFocus()"
        (ionBlur)="cvSInputUnFocus()"
        (keyup)="cardCvsKeyUp($event)"
        placeholder="{{'pages.credit-card-details.cvs'|translate}}"
        type="tel"
        inputmode="numeric"
        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
        id="csvNum"
        formControlName="csvNum"
        maxlength="3"
        minlength="3"
        required
      ></ion-input>
    </div>
    <div class="input-group">
      <ion-input
        placeholder="{{'pages.credit-card-details.userId'|translate}}"
        type="tel"
        id="userId"
        formControlName="userId"
        inputmode="numeric"
        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
        required
      ></ion-input>
    </div>

    <!-- <div class="input-group">
      <ion-input
        (keyup)="userNameKeyUp($event)"
        placeholder="שם בעל הכרטיס"
        type="text"
        id="userName"
        formControlName="userName"
        required
      ></ion-input>
    </div> -->

    <ion-modal
      trigger="open-date-modal"
      mode="md"
      (willDismiss)="onWillDismiss()"
    >
      <ng-template>
        <ion-content force-overscroll="false"
          ><ion-datetime
            locale="he-IL"
            size="cover"
            #dateTime
            displayFormat="M/YYYY"
            showDefaultTimeLabel="false"
            [presentation]="'month-year'"
            (ionChange)="dataChange(dateTime.value)"
          >
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
    <div class="input-group" dir="ltr">
      <app-main-btn
        style="margin-bottom: 5vh; width: 100vw"
        type="submit"
        [disabled]="cardDetails.invalid"
        text="{{'pages.credit-card-details.updated'|translate}}"
      ></app-main-btn>
    </div>
  </form>
</ion-content>
