.card-details-Form {
  margin-top: 8vh;
  padding: 0 10vw;
}

ion-modal {
  --width: 290px;
  --height: 40vh;
  --border-radius: 8px;
  --background:rgda(44, 39, 45, 0.2) &::part(cotent) {
    backgruond-filter: blur(6px);
  }
}
ion-content {
  --backgruond: transparent;
   padding-top: 25vh;
}

ion-modal ion-datetime {
  color: black;
}
ion-datetime {
  height: auto;
  width: auto;

  // max-width: 350px;
}
.datetime-time .time-body {
  display: none;
}
ion-input {
  --padding-end: 10px;
}
ion-button {
  --background: var(--ion-color-btn);
}
app-header-wave {
  position: fixed;
  top: 0;

  opacity: 0.8;
}
app-header-wave {
  width: 100%;
}
.saveSubmit {
  width: 100%;
}
form ion-input.sc-ion-input-md-h {
  border-bottom: 1px solid lightgray;
}
form ion-input.sc-ion-input-md-h:hover{
  border-bottom: 1px solid #FFB300;
}

