<div class="container" dir="{{'dir' |translate}}">
  <ion-item  lines="none">
<ion-text>
<h5 class="header">{{header}}</h5>
</ion-text>
  </ion-item>
  <ion-item class=""  lines="none">
<ion-label>
{{origin}}
</ion-label>
<ion-icon slot="start" name="location-outline"></ion-icon>
  </ion-item>
  <div
  
  class="item-background"
  style="display: flex; padding-right: 8%; height: 4vh"
>
  <div slot="start" style="display: grid">
    <img
      class="travel-info-icons-small"
      src="../../../assets/empty-circle.svg"
    />
    <img
      class="travel-info-icons-small"
      src="../../../assets/empty-circle.svg"
    />
    <img
      class="travel-info-icons-small"
      src="../../../assets/empty-circle.svg"
    />
    <img
      class="travel-info-icons-small"
      src="../../../assets/empty-circle.svg"
    />
    <img
      class="travel-info-icons-small"
      src="../../../assets/empty-circle.svg"
    />
  </div>
</div>
  <ion-item class=""  lines="none">
<ion-label>
  {{destanation}}
</ion-label>
<ion-icon slot="start" name="flag-outline"></ion-icon>
  </ion-item>
</div>
<ion-footer>
  <ion-item>
    <ion-label slot="end">
      שולם
    </ion-label>
    <ion-text  slot="end">
    <h3 dir="ltr" class="header">&#8362;&nbsp;6.00</h3>
    </ion-text>
  </ion-item>
</ion-footer>
