.container{
  padding:5% 0;
}
ion-item{
  --background: #fff00;
  color: #000 !important;
}
.header{
  color: #FFB300;
}
ion-icon {
  color: #000 !important;
}
img {
  max-width: 100%;
  border: 0;
  width: auto;
  height: 4px;
}