#map{
  display: inline-block;
  width: 100vw;
  height: 80vh;
}
.markerBtn{
    font-size: 1rem;
    padding: 1%;
   
}
// .md{
//   ion-content{
//     --ion-background-color: #00000000;
//   }
// }
.hideBg{
  --ion-background-color: #00000000;
}