<ion-header>
  <ion-toolbar>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.hideBg]="mapActive">
  
  <div id="map" #map></div>
  <ion-row class="scanner-buttons" >
    <ion-col class="ion-no-padding">
  <ion-button   expand="full" (click)="printCurrentPosition()">Show Position</ion-button>
</ion-col>
    
</ion-row>
  <ion-row class="scanner-buttons" >
    <ion-col class="ion-no-padding">
  <ion-button   expand="full" (click)="removeAllMarker()">Remove All Markers</ion-button>
</ion-col>
    
</ion-row>
</ion-content>
