.errors {
  font-size: small;
// color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
}
.loginForm {
  position: absolute;
  top: 30%;
  width: 90%;
}
ion-input{
  font-size: 25px;
}
.my-input{
  border: none;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 2ch, transparent 0, transparent 2.5ch) 0 100%/100% 2px no-repeat;
    color: dimgrey;
    font: 4ch consolas, monospace;
    letter-spacing: 1.5ch;
    --padding-start: 10px;
    margin-left: 1ch;
}
.my-input:focus {
  outline: none;
  color: dodgerblue;
}
.my-input-2 {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  outline : none;
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}
.code-inputs ion-input {
  display: inline-block;
  width: 40px;
  height: 40px;
  // margin:10px;
  border: 0px;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  // --background:#e1e1e1;
 
  --padding-start: 35%;
}
.nextBtn{
  height: 50px;
  width: 35%;
  --border-radius: 30px;
  font-size: 1.1rem;
  --background: var(--ion-color-btn);
  margin-top: 5%;
   font-size: 24px;
  // font-weight: bold;
  
}
h2{
  font-weight:bold;
  font-size: 24px;
}