<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Devdactic App</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content *ngIf="!textForm">
  <form class="loginForm" (ngSubmit)="getSms()" [formGroup]="credentials">
    <div class="input-group">
   
        <ion-input  type="text" placeholder=" Enter phone number" id="phone" formControlName="phone" required></ion-input>
    </div>
    
      <div class="help-block" *ngIf="(phone.dirty || phone.touched) && phone.errors">
        <div *ngIf="phone.errors?.required" class="errors">
          phone number is required.
        </div>
        <div *ngIf="phone.errors?.minlength" class="errors">
          phone number must be at least 4 characters long.
        </div>
      </div>
    <ion-button type="submit" expand="block" [disabled]="credentials.invalid">Enter</ion-button>
  </form>
</ion-content>
<ion-content *ngIf="textForm">
  <form class="loginForm" (ngSubmit)="getToken()" [formGroup]="textCredentials">
    <div class="input-group">
   
        <ion-input  type="text" placeholder="Please enter code number" id="text" formControlName="text" required></ion-input>
    </div>
    
      <div class="help-block" *ngIf="(text.dirty || text.touched) && text.errors">
        <div *ngIf="text.errors?.required" class="errors">
          text number is required.
        </div>
        <div *ngIf="text.errors?.minlength" class="errors">
          text number must be at least 4 characters long.
        </div>
      </div>
    <ion-button type="submit" expand="block" [disabled]="textCredentials.invalid">Enter</ion-button>
  </form>
</ion-content>