<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-back-btn (click)="goToMenu()"></app-back-btn>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-list>
    <ng-container *ngFor="let trip of historyCards">
      <ion-item *ngIf="!trip.paymentCompleted" lines="none">
        <ion-card
          class="histoy-card"
          dir="{{'dir'|translate}}"
          [class.redCard]="!trip.paymentCompleted"
        >
          <ion-card-header>
            <ion-title class="card-title">לא שולם</ion-title>
            <ion-card-subtitle
              >תאריך:&nbsp;&nbsp;{{formatDate(trip)}}</ion-card-subtitle
            >
            <ion-card-subtitle>
              תשלום:&nbsp;&nbsp;&#8362;{{trip.paymentAmount
              }}</ion-card-subtitle
            >
          </ion-card-header>

          <ion-button ion-button fill="clear" (click)="tripPay(trip)"
            >לתשלום</ion-button
          >
        </ion-card>
      </ion-item>
    </ng-container>
  </ion-list> -->

  <ion-accordion-group expand="inset"  dir="{{'dir'|translate}}"  [value]="historyCardsIds">
    <ion-accordion *ngFor="let trip of historyCards; let i=index" value="{{trip.id}}">
      <ion-item *ngIf="!trip.paymentCompleted" slot="header">
        <ion-label>{{formatDate(trip)}}</ion-label>
        <ion-label>{{'pages.history.notPaid'|translate}}</ion-label>
       
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card
        class="histoy-card"
        dir="{{'dir'|translate}}"
        [class.redCard]="!trip.paymentCompleted"
      >
        <ion-card-header>
          <ion-title class="card-title">{{'pages.history.notPaid'|translate}}</ion-title>
          <ion-card-subtitle
            >{{'pages.history.date'|translate}}:&nbsp;&nbsp;{{formatDate(trip)}}</ion-card-subtitle
          >
          <ion-card-subtitle>
            {{'pages.history.payment'|translate}}:&nbsp;&nbsp;&#8362;{{trip.paymentAmount
            }}</ion-card-subtitle
          >
        </ion-card-header>
        <ion-button ion-button fill="clear" (click)="tripPay(trip)"
        >{{'pages.history.payNow'|translate}}</ion-button>
      </ion-card>
      </div>
    </ion-accordion>
    
  </ion-accordion-group>
  <!-- <ion-list>
    <ng-container *ngFor="let trip of historyCards">
      <ion-item *ngIf="trip.paymentCompleted" lines="none">
        <ion-card
          class="histoy-card"
          dir="{{'dir'|translate}}"
          [class.redCard]="!trip.paymentCompleted"
        >
          <ion-card-header>
            <ion-title class="card-title">שולם</ion-title>
            <ion-card-subtitle
              >תאריך:&nbsp;&nbsp;{{formatDate(trip)}}</ion-card-subtitle
            >
            <ion-card-subtitle>
              תשלום:&nbsp;&nbsp;&#8362;{{trip.paymentAmount
              }}</ion-card-subtitle
            >
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ng-container>
  </ion-list> -->
  <ion-accordion-group expand="inset"  dir="{{'dir'|translate}}" >
    <ion-accordion *ngFor="let trip of historyCards; let i=index" value="{{trip.id}}">
      <ion-item *ngIf="trip.paymentCompleted" slot="header">
        <ion-label>{{formatDate(trip)}}</ion-label>
        <ion-label>{{'pages.history.paid'|translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card
        class="histoy-card"
        dir="{{'dir'|translate}}"
        [class.redCard]="!trip.paymentCompleted"
      >
        <ion-card-header>
          <ion-title class="card-title">{{'pages.history.paid'|translate}}</ion-title>
          <ion-card-subtitle
            >תאריך:&nbsp;&nbsp;{{formatDate(trip)}}</ion-card-subtitle
          >
          <ion-card-subtitle>
            תשלום:&nbsp;&nbsp;&#8362;{{trip.paymentAmount
            }}</ion-card-subtitle
          >
        </ion-card-header>
      </ion-card>
      </div>
    </ion-accordion>
    
  </ion-accordion-group>
</ion-content>
