ion-card{
  background: white;
  width: 100%;
  
}
ion-card-title, ion-card-subtitle{
  color: #000 !important;
}
ion-accordion-group{
  margin-top: 5vh;
  padding: 0 10vw;
}
.card-title{
  padding:0 ;
}

