ion-select{
  display: contents;
}
ion-header{
  background: #fff;
}
ion-content{
  --background:#fff;
}
ion-item{
  --background: #fff;
  color: #000 !important;
  
}
ion-item.header{
  margin-top: 3vh;
  // padding: 0 5vw;
}
ion-item.select{
  padding:0 10vw ;
  margin-top: 2vh;
  --highlight-background: #10101055;
}
ion-text.pageTitle{
  color: #000;
  margin-left:5vw;
}
ion-list{
  background: #fff;
}
ion-card{
  background: white;
  width: 100%;
}
ion-button{
  color: var(--ion-color-btn);
  // --border-color: var(--ion-color-btn);
  --border-color: white;
  // margin-left:5%;
}
ion-card-title, ion-card-subtitle{
  color: #000 !important;
}
ion-accordion-group{
  margin-top: 5vh;
  // padding: 0 2vw;
}
ion-label{
  color: #000 !important;
}
ion-text{
  color: #000 !important;
  margin: 0 2px;
}
ion-menu-button {
  position: absolute;
  z-index: 3;
  top: 8px;
}
.card-title{
  padding:0 ;
}


