<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <app-back-btn (click)="goToMenu()"></app-back-btn>
  </ion-toolbar>
</ion-header> -->
<ion-header class="ion-no-border"  dir="{{'dir'|translate}}">
  <ion-item class="header" lines="none" >
 
    <ion-menu-button   menu="main" class="{{'menu-btn-side'|translate}}">
      <ion-img src="../../../assets/menu-btn.svg"></ion-img>
    </ion-menu-button>
    <ion-text class="pageTitle" slot="{{'menuSide'|translate}}"><h5>{{'pages.credit-card-details.PaymentDetails'|translate}}</h5></ion-text> 
    </ion-item>
    <ion-list>
      <ion-item class="select">
        <ion-select [value]="selectValue"  placeholder=""   (ionChange)="handleChange($event)" >
          <ion-select-option value="all">הכל</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
</ion-header>
<ion-content dir="{{'dir'|translate}}">
 
  <ion-list>
    <ng-container *ngFor="let trip of historyCards">
      <ion-item *ngIf="!trip.paymentCompleted" lines="none">
        <ion-card
          class="histoy-card"
          dir="{{'dir'|translate}}"
          [class.redCard]="!trip.paymentCompleted"
        >
          <ion-card-header>
            <ion-title class="card-title">{{'pages.history.notPaid'|translate}}</ion-title>
            <ion-card-subtitle
              >{{'pages.history.date'|translate}}:&nbsp;&nbsp;{{formatDate(trip)}}</ion-card-subtitle
            >
            <ion-card-subtitle>
              תשלום:&nbsp;&nbsp;&#8362;{{trip.paymentAmount
              }}</ion-card-subtitle
            >
          </ion-card-header>

          <ion-button ion-button fill="clear" (click)="tripPay()"
            >{{'pages.history.payNow'|translate}}</ion-button
          >
        </ion-card>
      </ion-item>
    </ng-container>
  </ion-list>

    <ion-list>
    <ng-container *ngFor="let trip of historyCards">
      <ion-item *ngIf="trip.paymentCompleted" lines="none">
        <ion-card
          class="histoy-card"
          dir="{{'dir'|translate}}"
          [class.redCard]="!trip.paymentCompleted"
        >
          <ion-card-header>
            <ion-title class="card-title">{{'pages.history.paid'|translate}}</ion-title>
            <ion-card-subtitle
              >{{'pages.history.date'|translate}}:&nbsp;&nbsp;{{formatDate(trip)}}</ion-card-subtitle
            >
            <ion-card-subtitle>
              תשלום:&nbsp;&nbsp;&#8362;{{trip.paymentAmount
              }}</ion-card-subtitle
            >
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ng-container>
  </ion-list>
 
</ion-content>
