ion-card{
  background: white;
  
}
ion-card-title, ion-card-subtitle{
  color: #000 !important;
}
ion-accordion-group{
  margin-top: 5vh;
  padding: 0 10vw;
}
// ion-item{
//   margin-top: 5%;
//   border: 1px solid #FFB300;
//   border-radius: 6px;
// }
.redCard{
  border:2px solid red;
}
