.hideBg{
  --ion-background-color:#091d3100;
     background: rgba(0,0,0,.5);
    -webkit-mask: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,1)) top /100% 32%, linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1)) bottom/100% 34%, linear-gradient(to left , rgba(0,0,0,1), rgba(0,0,0,1)) left /17% 100%, linear-gradient(to right , rgba(0,0,0,1), rgba(0,0,0,1)) right /17% 100%;
    -webkit-mask-repeat: no-repeat;
}
.back-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 101;
  height: 40px;
  width: 35px;
}


.ocrloader p {
  color: #fff;
  position: absolute;
  bottom: -50px;
  left: 28%;
  font-size: 16px;
  font-weight: 600;
  // animation: blinker 2.5s linear infinite;
  font-family: sans-serif;
  text-transform: uppercase;
}

.ocrloader {
  width: 70vw;
  height: 70vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 31%;
  backface-visibility: hidden;
 

  
}
.ocrloader:before,
.ocrloader:after,
.ocrloader em:after,
.ocrloader em:before {
  border-color: #fff;
  content: "";
  position: absolute;
  width: 45px;
  height: 46px;
  border-style: solid;
  border-width: 0px;
  // animation: blinker 2.5s linear infinite;

}
.ocrloader:before {
  left: 0;
  top: 0;
  border-left-width: 5px;
  border-top-width: 5px;
  border-radius: 5px 0 0 0;
}
.ocrloader:after {
  right: 0;
  top: 0;
  border-right-width: 5px;
  border-top-width: 5px;
  border-radius: 0 5px 0 0;
}
.ocrloader em:before {
  left: 0;
  bottom: 0;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-radius: 0 0 0 5px;
}
.ocrloader em:after {
  right: 0;
  bottom: 0;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-radius: 0 0 5px 0;
}
.alert-col{
  border: solid 1px orange;
  margin-top: 25vh;
}
.scan-body-header {
  color: #fff;
  margin-top: 20vh;
}
.flashDiv{
  text-align: center;
    margin-top: 1vh;
}
.flashIcon{
  height: 4vh;
  width: 10vw;
}


@keyframes blinker {  
  0%{
    opacity: 1;
  }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}
app-header-wave{
  position: absolute;
  top: 0;
  z-index: 78;
  width: 100%;
}
.alert-row{
  margin-top: 20vh;
}
