<ion-header>
<ion-toolbar>
  <!-- <ion-title class="ion-text-center"> סריקה</ion-title> -->
  <ion-buttons slot="end">
    <ion-back-button defaultHref="menu"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content [class.hideBg]="scanActive">
  <ion-row class="ion-text-center ion-padding" [hidden]="!scanNotAllowed">
    <ion-col class="">
      <div class="alert alert-warning" role="alert">
        Not implemented on web!
      </div>
    </ion-col>
  </ion-row>
  <div class="scan-body-header" [hidden]="!scanActive">
    <ion-text class="ion-text-center ">
      <h1>תשלום באוטובוס</h1>
      <h2>
        QR סריקת קוד
      </h2>
      <p>המדבקות נמצאות על הדלתות או ליד הנהג</p>
    </ion-text>
  </div>
  <ion-row [hidden]="!scanActive" >
    
    <div class="ocrloader">
      <p>QR סרוק/י קוד</p>
      <em></em>
      <span></span>
    </div>
  </ion-row>
  <ion-row>
    <a [attr.href]="result" class="ion-text-center" *ngIf="result && !scanActive">{{result}}</a>
    <!-- <a [attr.href]="result"></a> -->
  </ion-row>
</ion-content>
