.hideBg{
  --ion-background-color: #00000000;
}


.ocrloader p {
  color: #fff;
  position: absolute;
  bottom: -28px;
  left: 28%;
  font-size: 16px;
  font-weight: 600;
  // animation: blinker 2.5s linear infinite;
  font-family: sans-serif;
  text-transform: uppercase;
}

.ocrloader {
  width: 60vw;
  height: 225px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 35%;
  backface-visibility: hidden;

  
}
.ocrloader:before,
.ocrloader:after,
.ocrloader em:after,
.ocrloader em:before {
  border-color: #025381;
  content: "";
  position: absolute;
  width: 45px;
  height: 46px;
  border-style: solid;
  border-width: 0px;
  animation: blinker 2.5s linear infinite;

}
.ocrloader:before {
  left: 0;
  top: 0;
  border-left-width: 5px;
  border-top-width: 5px;
  border-radius: 5px 0 0 0;
}
.ocrloader:after {
  right: 0;
  top: 0;
  border-right-width: 5px;
  border-top-width: 5px;
  border-radius: 0 5px 0 0;
}
.ocrloader em:before {
  left: 0;
  bottom: 0;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-radius: 0 0 0 5px;
}
.ocrloader em:after {
  right: 0;
  bottom: 0;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-radius: 0 0 5px 0;
}
.alert-col{
  border: solid 1px orange;
  margin-top: 25vh;
}


@keyframes blinker {  
  0%{
    opacity: 1;
  }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}
