<app-back-btn (click)="goTomenu()"></app-back-btn>

<ion-content [class.hideBg]="scanActive">
  <ion-row
    class="ion-text-center ion-padding alert-row"
    [hidden]="!scanNotAllowed"
  >
    <ion-col class="">
      <div class="alert alert-warning" role="alert">
        Not implemented on web!
      </div>
    </ion-col>
  </ion-row>
  <div class="scan-body-header" [hidden]="!scanActive">
    <div *ngIf="isFlashAvailable" class="flashDiv">
      <ion-icon
        *ngIf="!isFlashOn"
        class="flashIcon"
        name="flash-outline"
        (click)="toggleFlash()"
      ></ion-icon>
      <ion-icon
        *ngIf="isFlashOn"
        class="flashIcon"
        name="flash-off-outline"
        (click)="toggleFlash()"
      ></ion-icon>
    </div>
  </div>
  <ion-row [hidden]="!scanActive">
    <div class="ocrloader">
      <p>{{'pages.scan.scan'|translate}}</p>
      <em></em>
    </div>
  </ion-row>
</ion-content>
