<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-wave></app-header-wave>
    <app-back-btn (click)="goToMenu()"></app-back-btn>
  </ion-toolbar>
</ion-header>

<ion-content dir="{{'dir'|translate}}">
  <ion-list>
    <ion-list-header>
      <ion-label><h2>פרטים</h2></ion-label>
      <ion-button fill="outline" size="small" (click)="goToUserDetails()"
        >ערוך</ion-button
      ></ion-list-header
    >
    <div>
      <ion-item lines="none">
        <ion-label>
          <h3>שם פרטי</h3>
          <p>{{firstName}}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <h3>שם משפחה</h3>
          <p>{{lastName}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3>מייל</h3>
          <p>{{email}}</p>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>
      <ion-label>פרטי אשראי</ion-label>
      <ion-button fill="outline" size="small" (click)="cardDetails()"
        >ערוך</ion-button
      ></ion-list-header
    >
    <ion-item lines="none">
      <ion-icon name="card-outline" slot="start"></ion-icon>
      <ion-label>
        <p>{{cardNum}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
