.modal-container{
  text-align: center;
}
.modal-text{
  margin-top: 25px;
}
.open-travelBody{
  position: absolute;
  top: 8vh;
  display: flex;
  width: 100vw;
  z-index: 5;
  justify-content: center;
}
.open-travelBody ion-fab-button{
  background: #fff;
  border-radius: 60%;
}