.user-details-Form{
  margin-top: 8vh;
  padding: 0 10vw;
}
.fluatingLabel {
  width: 100%;
  position: relative;
}
.flutingLabel {
  width: 100%;
  position: relative;
}
span {
  display: inline-block;
  position: absolute;
  margin: -30px 8px 0 8px;
  transition: all 0.1s ease-in-out;
}

form ion-input.sc-ion-input-md-h:focus-within+span,
form ion-input.sc-ion-input-md-h.has-value+span {
  font-size: 16px;
  padding: 0 2px;
  z-index: 2;
  margin: -52px 8px 0 8px;
}
form ion-input.sc-ion-input-md-h {
  border-bottom: 1px solid lightgray;
}
form ion-input.sc-ion-input-md-h:hover{
  border-bottom: 1px solid #FFB300;
}

ion-modal {
  --width: 340px;
  --height: 46vh;
  --border-radius: 8px;
  --background:rgda(44,39,45,0.2)
  &::part(cotent){
    backgruond-filter:blur(6px)
  }
}
ion-modal ion-datetime {
  color: black;
  border-radius: 5%;
}
ion-datetime {
  height: auto;
  width: auto;
}
.datetime-time .time-body{
  display: none ;
}
ion-button{
  --background: var(--ion-color-btn);
}
form .input-group {
  margin-top: 4vh;
}
.saveSubmit{
  width: 100%;
}

