<ion-header class="ion-no-border" style="height: 10vh">
  <ion-toolbar>
    <!-- <app-header-wave></app-header-wave> -->
    <app-back-btn (click)="goToUserProfile()"></app-back-btn>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    dir="{{'dir'|translate}}"
    class="user-details-Form"
    [formGroup]="userDetails"
    (ngSubmit)="updateUserInfo()"
  >
    <h1>פרטים אישיים</h1>
    <div class="input-group">
      
      <label class="fluatingLabel">
        <ion-input
          class="input"
          type="text"
          id="firstName"
          formControlName="firstName"
          required
        ></ion-input>
        <span class="labelSpan">שם פרטי</span>
      </label>
    </div>

    <div class="input-group">
      <label class="fluatingLabel">
        <ion-input
          class="input"
          type="text"
          id="lastName"
          formControlName="lastName"
          required
        ></ion-input>
        <span class="labelSpan">משפחה</span>
      </label>
    </div>
    <div class="input-group">
      <label class="fluatingLabel">
        <ion-input
          class="input"
          type="tel"
          inputmode="numeric"
          oninput="this.value=this.value.replace(/[^0-9]/g,'');"
          id="userId"
          formControlName="userId"
        ></ion-input>
        <span class="labelSpan">תעודת זהות</span>
      </label>
    </div>
    <div class="input-group">
      <label class="fluatingLabel">
        <ion-input
          class="input"
          id="userDate"
          formControlName="userDate"
          type="text"
          [value]="date"
          id="user-date-modal"
          required
        ></ion-input>
        <span class="labelSpan">תאריך לידה</span>
      </label>
    </div>
    <div class="input-group">
      <label class="fluatingLabel">
        <ion-input
          class="input"
          type="email"
          id="email"
          formControlName="email"
          required
          email
        ></ion-input>
        <span class="labelSpan">מייל ליצירת קשר</span>
      </label>
      <div
        class="help-block"
        *ngIf="(userDetails.get('email').dirty || userDetails.get('email').touched) && userDetails.get('email').errors"
      >
        <div
          text-center
          *ngIf="userDetails.get('email').errors?.email"
          class="errors ion-text-center"
        >
          please enter a valid email address
        </div>
      </div>
    </div>
    <div class="input-group" dir="ltr">
      <app-main-btn
        style="margin-bottom: 5vh; width: 100vw"
        type="submit"
        [disabled]="userDetails.invalid"
        text="{{'pages.userDetais.updated'|translate}}"
      ></app-main-btn>
    </div>
  </form>

</ion-content>

<ion-modal trigger="user-date-modal" mode="md" (willDismiss)="onWillDismiss()">
  <ng-template>
    <ion-content force-overscroll="false"
      ><ion-datetime
        locale="he-IL"
        size="cover"
        #dateTime
        displayFormat="DD/MM/YYYY"
        showDefaultTimeLabel="false"
        [presentation]="'date'"
        (ionChange)="dataChange(dateTime.value)"
      >
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
