<ion-header>
 
  <ion-toolbar>
    <ion-title class="ion-text-center"> </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div *ngIf="apiLoaded">
  <!-- <ion-row class="scanner-buttons" >
    <ion-col class="ion-no-padding">
  <ion-button   expand="full" (click)="printCurrentPosition()">Show Position</ion-button>
</ion-col>
</ion-row>
  <ion-row class="scanner-buttons" >
    <ion-col class="ion-no-padding">
  <ion-button   expand="full" (click)="removeAllMarkers()">Remove All Markers</ion-button>
</ion-col>
</ion-row> -->
    <google-map  #map id="map" height="90vh"
    width="100vw"  [options]="mapOptions"
    (mapClick)="moveMap($event)">
    <map-traffic-layer [autoRefresh]="false"></map-traffic-layer>
    <map-transit-layer></map-transit-layer>
    <map-marker *ngFor="let marker of markerPositions"
    [position]="marker"
    [options]="markerOptions" (mapClick)="markerClick($event)"></map-marker>
    <map-polyline #polyline id="polyline" [path]="vertices.path"></map-polyline>
  </google-map>
  </div>
   
  <!-- <div>Latitude: {{center?.lat}}</div>
  <div>Longitude: {{center?.lng}}</div> -->
</ion-content>
