<ion-header  class="ion-no-border" >
  <ion-toolbar>
    <ion-menu-button menu="main" slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content dir="{{'dir'|translate}}">
  <ion-text class="ion-text-center"><h1>בחירת אמצעי תחבורה</h1></ion-text>
  <ion-list>
    <ion-item #item.id id='{{item.id}}' lines="none" class="shadow-sm main-list" *ngFor="let item of transportationOptions"  [ngStyle]="{'border-right':'10px solid'+item.color}" (click)="item.callback()">
      <ion-label><h1>{{item.title}}</h1></ion-label>
    </ion-item>
   
  </ion-list>
 
</ion-content>
