.my-custom-menu {
  --width: 500px;
}

ion-content {
  --padding-top: 5%;
}

.nemu-text {
  color: #fff;
}
section {
  margin-top: 5em;
  margin-bottom: 2.5em;
}

section:not(.full-width),
.full-width > header {
  padding: 0 10px;
}
.main-list {
  margin: 5%;
  height: 8vh;
  padding-top: 2%;
  z-index: 2;
}
ion-menu-button {
  position: absolute;
  z-index: 3;
  top: 25px;
}
ion-card-header {
  text-align: center;
  padding-top: 25%;
}
.card-container {
  display: flex;
  justify-content: center;
}
.card-container ion-card {
  border-radius: 60%;
  background: #ffb300;
  // border-radius: 10%;
  // background: #f9fafb;
  height: 200px;
  width: 200px;
  border: 3px solid white;
}
ion-card-title {
  color: #000 !important;
}
// .alert-row{
//     position: absolute;
//     width: 100vw;
//     top: 5vh;
  

// }
// .alert{
//   margin-bottom: 0rem;
//   display: flex;
//   justify-content: space-around;
//   background-color: #fff;
//   color: #000;
//   border: 2px solid #FFB300;
  
// }
.payment-body{
  position: fixed;
  top: 15vh;
  height: 22vh;
  width: 90vw;
  margin-right: 5vw;
  overflow: hidden;
  margin-left: 5vw;
  z-index: 1;
  padding: 10%;
  color: #000;
  border-radius: 10px;
  transition: height 300ms;

  
}
.payment-body:before,
div:after {
  content:"";
  position: absolute;
}
.payment-body:before {
  top: -132px;
  width: 80px;
  height: 148px;
  border-radius: 63%;
  box-shadow: 0px 0px 0px 10000px #f9fafb;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

