.my-custom-menu {
  --width: 500px;
}

ion-content.active {
  // --padding-top: 10vh;
  --background: url('../../../assets/images/activeTripBackground.png') no-repeat center/cover fixed;
}

.nemu-text {
  color: #fff;
}
section {
  margin-top: 5em;
  margin-bottom: 2.5em;
}

section:not(.full-width),
.full-width > header {
  padding: 0 10px;
}
.main-list {
  margin: 5%;
  height: 8vh;
  padding-top: 2%;
  z-index: 2;
}
ion-menu-button {
  position: absolute;
  z-index: 3;
  top: 2vh;
  left: 2vw;
}
ion-card-header {
  text-align: center;
  padding-top: 35%;
}
.card-container {
  position: fixed;
    top: 18vh;
    transform: translateX(-50%);
    left: 50%;

}
.card-container-active {
  position: fixed;
    top: 35vh;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;

}
.footer{
  width: 100vw;
  position: fixed;
  text-align: center;
  bottom: 5vh;
}
.footer > ion-button{
  height: 48px;
  width: 154px;
  --background: white;
  --color: black;
  font-size: 1.2rem;
    font-weight: bold;
}

ion-card-title {
  color: #000 !important;
}

.payment-body {
  position: fixed;
  top: 15vh;
  height: 22vh;
  width: 90vw;
  margin-right: 5vw;
  overflow: hidden;
  margin-left: 5vw;
  z-index: 1;
  padding: 10%;
  color: #000;
  border-radius: 10px;
  transition: height 300ms;
}
.payment-body:before,
div:after {
  content: "";
  position: absolute;
}
.payment-body:before {
  top: -132px;
  width: 80px;
  height: 148px;
  border-radius: 63%;
  box-shadow: 0px 0px 0px 10000px #f9fafb;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
.footer-container {
  position: absolute;
  top: 25vh;
  width: 100vw;
}
.activeTripeBtn {
  border: 1px solid #ffb300;
  color: #ffb300;
  border-radius: 6px;
}
ion-list {
  // padding: 0 10px;
 
}
ion-item {
  --border-color:gray;
  margin: 5px 0px;
  padding: 0px 15px;
 
}
ion-item.header {
  margin-top: 2vh;
 
}
ion-item.select {
  // padding: 0 10vw;
  // margin-top: 2vh;
  padding: 0px 15px;
  --highlight-background: #10101055;
}
p{
  color: #fff !important;
}
ion-text {
  color: #fff;
}
ion-label{
  color: #fff!important;
}
