<ion-header class="ion-no-border">
  <div class="toolbar-container">
    <app-header-wave [big]="true" [text]="headerText"></app-header-wave>
    
      <ion-menu-button  menu="main" class="{{'menu-btn-side'|translate}}">
        <ion-img src="../../../assets/menu-btn.svg"></ion-img>
      </ion-menu-button>
    </div>
 
</ion-header>
<ion-content dir="{{'dir'|translate}}">
  <div class="card-container ion-activatable" (click)="onClick()">
    <ion-card>
      <ion-card-header>
        <img src="../../../assets/scan.svg" />
        <ion-card-title>{{'pages.main.start-trip'|translate}}</ion-card-title>
        <!-- <ion-card-subtitle></ion-card-subtitle> -->
      </ion-card-header>
    </ion-card>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-content>
