<ion-icon class="map-back-btn" name="chevron-forward-circle-outline" (click)="goToMenu()" slot="end"></ion-icon>
<google-map  #map id="map" [height]="height"
width="100vw"  [options]="mapOptions"
[center]="center"
>
<map-traffic-layer [autoRefresh]="false"></map-traffic-layer>
<map-transit-layer></map-transit-layer>
<map-marker *ngFor="let marker of markerPositions"
[position]="marker"
[options]="markerOptions" (mapClick)="markerClick($event)"></map-marker>
<map-polyline #polyline id="polyline" [path]="vertices.path"></map-polyline>
</google-map>