#map{
  overflow-y: hidden;
  height: 25vh;
  
}
.map-back-btn{
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 101;
  height: 40px;
  width: 35px;
  color: black;

}
.centerMapIcon{
  width: 100%;
  height: 100%;
}
.centerMapDiv{
  position: absolute;
  bottom: 15vh;
  left: 5vw;
  background-color: rgba(50, 50, 50,0.4 );
  border-radius: 60%;
  width: 50px;
  height: 50px;
  padding: 2%;


}
