.header-wrapper{
  // background-color: #21CCD1;
  height: 75px;
  margin-bottom: 5vh;
}

img{
  min-width: 100%;
}
.text-div{
  position: fixed;
    right: 55px;
    text-align: center;
    top: 11px;
    color: #fff;
    
}
