ion-header{
  margin-bottom: 15px;
}
ion-footer{
  margin-top: 15px;
}
ion-text{
  color: #fff !important;
}

.slide-body-header h1{
  font-size: 49px

  
}
.slide-body-header p{
  font-size:19px;
  font-weight: 500;
  
}
.icon{
  background-color: #EFEFEF;
  width: 38px;
  height: 38px;
}


.nextBtn{
  margin: 0px 15px 30px;
  height: 45px;
  --border-color:var(--ion-color-btn);
  --color:#fff;
  --border-radius: 10px; 
}
.icon-circle{
  width: 50px;
  height: 50px;
  padding-top: 5px;
  font-size: 30px;
  border-radius: 50%;
  background: #EFEFEF;
  text-align: center;
}
ion-item{
  margin: 2vh 0;
}

.icon-list{
  text-align: center;
}
.white-text{
  color: #fff;
}
.searchInputRap{
  padding: 0px 15px;
}
.searchInput{
  margin-top: 5vh;
  border-bottom: 1px solid #D8D8D8;
  color: #fff;

}
.searchInput:hover{
  border-bottom: 1px solid #FFB300;
}
.selected{
  border: 1px solid #FFB300;
  border-radius: 6px ;
}

.searchInputRap ion-icon[name="search-outline"]{
  position: absolute;
    bottom: 0;
}
.icon-left{
  left:5vw;
}
.icon-right{
  right: 5vw;
}
