<ion-header dir="{{'dir'|translate}}" class="ion-no-border">
  <app-header-wave text="אפשרויות כניסה"></app-header-wave>
  <app-back-btn (click)="goToLogin()"></app-back-btn>
  <div class="searchInputRap">
    <ion-input
      class="searchInput"
      (keyup)="handleInput($event)"
      placeholder="חיפוש"
    ></ion-input>
  </div>
</ion-header>

<ion-content dir="{{'dir'|translate}}" class="ion-padding info-content">
  <div class="slide">
    <div class="slide-body">
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item
              *ngFor="let item of tempitems"
              id={{item.id}}
              (click)="onClickHotel(item)"
            >
              <ion-label>{{item.name}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" collapse="fade">
  <ion-button class="nextBtn" expand="block" fill="outline" (click)="next()"
    >{{'pages.intro.nextBtn'|translate}}</ion-button
  >
</ion-footer>
