ion-header{
  margin-bottom: 15px;
}
ion-footer{
  margin-top: 15px;
}
.info-content{
  // --color:#50c8ff;
}
.slide-body-header{
  // margin-top: 20%;
}
.slide-body-header h1{
  font-size: 49px
  // font-weight: bold;
  
}
.slide-body-header p{
  font-size:19px;
  font-weight: 500;
  
}
.icon{
  background-color: #EFEFEF;
  width: 38px;
  height: 38px;
}
.slide-body{
  // margin-top: 35%;
  direction: rtl;
}
.slide-body ion-label{
  font-size: 1.3rem;
}
.slide-body{
  overflow: hidden;
  // margin-top: 20%;
}
// .footer{
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 95%;
// }
// .footer ion-title{
//   padding-left: 0px;
//   color: #00E1E1;
    
// }
//  ion-button{
//   padding-left: 0px;
//   // color: #00E1E1;
  
  
//   margin-left: 5%;
//   margin-bottom: 5%;
    
// }
.nextBtn{
  margin: 0px 15px 30px;
  height: 45px;
  --border-color:var(--ion-color-btn);
  // --border-color:none;
  // --border-width: 0px !important;
  --color:#fff;
  //  border: none;
  --border-radius: 10px ;
  // font-size: 20px;
  
  
}
.icon-circle{
  width: 50px;
  height: 50px;
  padding-top: 5px;
  font-size: 30px;
  border-radius: 50%;
  background: #EFEFEF;
  text-align: center;
}
ion-item{
  margin: 2vh 0;
}

.icon-list{
  text-align: center;
}
.white-text{
  color: #fff;
}
.searchInputRap{
  padding: 0px 15px;
}
.searchInput{
  margin-top: 5vh;
  border-bottom: 1px solid #D8D8D8;
  /* border-radius: 10px; */
  color: #fff;

}
.searchInput:hover{
  border-bottom: 1px solid #FFB300;
}
.selected{
  border: 1px solid #FFB300;
  border-radius: 6px ;
}

.searchInputRap ion-icon[name="search-outline"]{
  position: absolute;
    bottom: 0;
    // left: 5vw;
}
.icon-left{
  left:5vw;
}
.icon-right{
  right: 5vw;
}
