ion-header{
  margin-bottom: 15px;
}
ion-footer{
  margin-top: 15px;
}
.info-content{
  // --color:#50c8ff;
}
.slide-body-header{
  // margin-top: 20%;
}
.slide-body-header h1{
  font-size: 49px
  // font-weight: bold;
  
}
.slide-body-header p{
  font-size:19px;
  font-weight: 500;
  
}
.icon{
  background-color: #EFEFEF;
  width: 38px;
  height: 38px;
}
.slide-body{
  // margin-top: 35%;
  direction: rtl;
}
.slide-body ion-label{
  font-size: 1.3rem;
}
.slide-body{
  overflow: hidden;
  // margin-top: 20%;
}
// .footer{
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 95%;
// }
// .footer ion-title{
//   padding-left: 0px;
//   color: #00E1E1;
    
// }
//  ion-button{
//   padding-left: 0px;
//   // color: #00E1E1;
  
  
//   margin-left: 5%;
//   margin-bottom: 5%;
    
// }
.nextBtn{
  margin: 0px 15px 30px;
  height: 45px;
  --border-color:#21CCD1;
  --color:#3D3D3D;
  --border-radius: 10px ;
  // --background: var(--ion-color-btn);
  font-size: 20px;
  // font-weight: bold;
  
  
}
.icon-circle{
  width: 50px;
  height: 50px;
  padding-top: 5px;
  font-size: 30px;
  border-radius: 50%;
  background: #EFEFEF;
  text-align: center;
}
ion-item{
  margin: 10px 0;
}

.icon-list{
  text-align: center;
}
.white-text{
  color: #fff;
}
.searchInputRap{
  padding: 0px 15px;
}
.searchInput{
  border: 1px solid #D8D8D8;
  border-radius: 10px;
}