<ion-header class="ion-no-border" dir="{{'dir'|translate}}" >
  <!-- <ion-toolbar> -->
  <div class="searchInputRap">
    <ion-item lines="none">
      <ion-icon slot="end" name="search-outline" class="{{'search-icon-side'|translate}}"></ion-icon>
      <ion-input
      class="searchInput"
      (keyup)="handleInput($event)"
      placeholder="{{'pages.intro.search'|translate}}"
    ></ion-input>
    </ion-item>
  </div>
<!-- </ion-toolbar> -->
</ion-header>

<ion-content dir="{{'dir'|translate}}" class="ion-padding info-content">
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <!-- <ion-item id="0" lines="none" [class.selected]="selectedHotel.id==='0'"  (click)="onClickHotel($event,{id:'0',name:'cC'})"
      >
      <div *ngIf="selectedHotel.id==='0'" slot="end">
        <img
         width="20"
         height="auto"
          src="../../../assets/small-checkmark.svg"
        />
      </div>
      <ion-text>{{'pages.intro.creditCard'|translate}}
      </ion-text>
        <img slot="start"
          
          src="../../../assets/credit-card.svg"
        />
      </ion-item> -->
            <ion-item 
              *ngFor="let item of tempitems"
              id={{item.id}}
              [class.selected]="selectedHotel.id==item.id"
              (click)="onClickHotel($event,item)"
            >
            <div *ngIf="selectedHotel.id==item.id" slot="end">
              <img
               width="20"
               height="auto"
                src="../../../assets/small-checkmark.svg"
              />
            </div>
              <ion-text>{{item.name}}</ion-text>
              <img slot="start"
          
          src="../../../assets/empty-circle.svg"
        />
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

</ion-content>
<app-main-btn style="margin-bottom: 5vh;
width: 100vw;" type="click" [disabled]="selectedHotel.id==''" text="{{'pages.intro.nextBtn'| translate}}" (click)="onSubmit()"></app-main-btn>

