/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// global.scss
@import "~swiper/scss";
@import "~swiper/scss/autoplay";
@import "~swiper/scss/keyboard";
@import "~swiper/scss/pagination";
@import "~swiper/scss/scrollbar";
@import "~swiper/scss/zoom";
@import "~@ionic/angular/css/ionic-swiper";


ion-menu {
  outline: none;
}
ion-button {
  text-transform: none;
 }
.md body {
  --ion-background-color: #091D31;;
  --ion-color: #fff;
  --ion-border-color: #091D31;;
}
.md body.scanBg {
  --ion-background-color: #091d3100;
}

form .input-group {
  margin-top: 3vh;
}
form ion-input.sc-ion-input-md-h {
  border-bottom: 1px solid lightgray;
}
form ion-input.sc-ion-input-md-h:hover {
  border-bottom: 1px solid #ffb300;
}

.ion-text-center {
  text-align: center;
}
ion-text {
  color: #fff;
}
.white-text {
  color: #fff;
}
.my-custom-class {
  --width: 70vw;
  --height: 40vh;
  --border-radius: 15px;
  background-color: #41464b;
}

app-popup-modal.ion-page {
  border-radius: 10px;
  background-color: #091D31;
}

.errors {
  color: red;
}
.alert-wrapper.sc-ion-alert-md {
  background-color: #fff;
}
.he-alert {
  direction: rtl;
}
.menu-btn-let {
  left: 0;
}
.menu-btn-right {
  right: 0;
}
input.sc-ion-input-md {
  --padding-bottom: 3px;
}
.custom-loading{
  --background: none;
  --spinner-color:#ffb300;

}
.loading-wrapper.sc-ion-loading-md{
  box-shadow: none;
}
