/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// global.scss
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';
ion-content {
  // --ion-background-color: transparent radial-gradient(closest-side at 26% 129%, #00928C 0%, #00BDB6 1%, #007CC5 100%) 0% 0% no-repeat padding-box;
  // --ion-text-color: #ffffff;
}
 body,h1{
  //  font-family: var(--ion-font-family);
  //  font-weight:var(--ion-font-weight);
  
   

}

.md body.scanBg{
  --ion-background-color: #00000000;
  // color: #fff;
}

form{
    margin-left: 5vw;
    margin-right: 5vw;
}

form .input-group{
  margin-top: 5vh;
}
form ion-input.sc-ion-input-md-h{
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 5%;
  
}

.ion-text-center{
  text-align: center;
}
.white-text{
  color: #fff;
}
