.main-btn[ng-reflect-type=click]{
  height: 48px;
  --background: var(--ion-color-btn);
  --border-radius: 10px;
  margin-top: 5%;
  font-size: 18px;
  color: #000;
  width: 50vw;
  font-weight: bold;
}
.main-btn[ng-reflect-type=submit]{
  height: 40px;
  --background: var(--ion-color-btn);
  --border-radius: 10px;
  margin-top: 5%;
  font-size: 18px;
  width: 40vw;
  --color: #000;
  font-weight: bold;
}
.main-btn[sms]{
  position:static;
}

.back-btn{
  font-size: 24px;
}
.main-buttons{
  width: 90vw;
  justify-content:space-between;
}
