
.main-btn{
  // height: 41px;
  // --background: var(--ion-color-btn);
  // --border-radius: 6px;
  // // margin-top: 5%;
  // font-size: 16px;
  // width: 80vw;
  // --color: #000;
  // position:flex;
  // bottom: 0;
  height: 41px;
    --background: var(--ion-color-btn);
    --border-radius: 6px;
    font-size: 16px;
    width: 80vw;
    --color: #000;
    position: flex;

}
ion-footer{
  position: absolute;
    bottom: 4vh;
    // padding: 0 4vw;
}
.fullWidth{
  width: 100vw;
  --border-radius: 0;
  position: fixed;
  bottom: 0;
}
.main-btn[sms]{
  position:static;
}

.back-btn{
  font-size: 24px;
}
.main-buttons{
  width: 90vw;
  justify-content:space-between;
}
