
.main-btn{
  height: 48px;
  --background: var(--ion-color-btn);
  --border-radius: 10px;
  margin-top: 5%;
  font-size: 18px;
  width: 50vw;
  --color: #000;

}
.main-btn[sms]{
  position:static;
}

.back-btn{
  font-size: 24px;
}
.main-buttons{
  width: 90vw;
  justify-content:space-between;
}
