.main-btn[ng-reflect-type=click]{
  height: 48px;
  --background: var(--ion-color-btn);
  --border-radius: 10px;
  margin-top: 5%;
  font-size: 18px;
  position: fixed;
  width: 90vw;
  bottom: 34px;
  font-weight: normal;
}
.main-btn[ng-reflect-type=submit]{
  height: 48px;
  --background: var(--ion-color-btn);
  --border-radius: 10px;
  margin-top: 5%;
  font-size: 18px;
  position: fixed;
  width: 121px;
  bottom: 34px;
  font-weight: normal;
}

.back-btn{
  font-size: 24px;
}
.main-buttons{
  width: 90vw;
  justify-content:space-between;
}
