
ion-item{
  --background: none!important;
}
.no-scroll {
  --overflow: hidden;
}
.body-card-1{
  justify-content: end;
}
.body-card-2{
  text-align: end;
}

.payment-body{
  position: fixed;
  bottom: 2vh;
  height: 42vh;
  width: 90vw;
  overflow: hidden;
  margin-left: 5vw;
  z-index: 1;
  border-radius: 10px;
  transition: height 300ms;
  box-shadow: 0px 3px 6px #18171740;
  color: #000;
  
}
.payment-body:before,
div:after {
  content:"";
  position: absolute;
}
.payment-body:before {
  top: -125px;
  width: 70px;
  height: 140px;
  border-radius: 63%;
  box-shadow: 0px 0px 1px #d7d8da, 0px 0px 5px #dee2e6, 0px 0px 0px #d7d8da, 0px 0px 0px 10000px #f9fafb;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
ion-icon.blackIcon{
  color: #000 !important;
}
ion-icon.grayIcon{
  color: #CECECE !important;
}
// .payment-body:before,
// div:after {
//   content:"";
//   position: absolute;
// }
// .payment-body:before {
//   top: -132px;
//   width: 80px;
//   height: 148px;
//   border-radius: 63%;
//   box-shadow: 0px 0px 0px 10000px #091d31;
//   // opacity: 0.8;
//   z-index: -1;
// }

.item-background-color{
  --ion-item-background: #FFB300;
  margin-right: 2%;
  margin-top: 5%;
  border-radius: 10%;
  height: 40px;
  width: 70px;
}
.bedIcon{
  margin-right: 25%;
    color: #fff;
    margin-bottom: 10%
}
.dated{
  
  height: 6vh;
  border-right: 3px black dashed;
  
}
hr {
  display: none;
  border: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  margin:0 5%;
}
#drowerBar{
  position: absolute;
  bottom: 15px;
  left: 48%;
}

.addBtn{
  --background: #FFB300;
  --color: #000;
  --border-radius:  6px;
  width: 8vw;
  height: 4vh;
}
.removeBtn{
  color: var(--color);
  --border-color:  #CECECE;
  --border-radius: 6px;
  --background: transparent;
    width: 8vw;
    height: 4vh;
    --border-width: 2px;
    --border-style: solid;
    --box-shadow: none;
    --background-activated: transparent;
    
}
.footer-container {
  position: absolute;
  bottom: 3vh;
  display: flex;
}
.payBtn{
  width: 100vw;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
}
