
.no-scroll {
  --overflow: hidden;
}
.body-card-1{
  justify-content: end;
  height: 38vh;
}
.body-card-2{
  text-align: end;
  margin-right: 5%;
  height: 20vh;


}
.payment-body{
  // position: fixed;
  // background-color: #fff;
  // width: 100vw;
  // top: 185px;
  // height: 100vh;
  // border-radius: 30px;
 
}
// .cardIcon{
//   margin-top: 20%;
//   color: #000;
// }
.item-background-color{
  --ion-item-background: #50c8ff;
  margin-right: 2%;
  margin-top: 5%;
  border-radius: 6%;
  height: 40px;
  width: 82px;
}
.bedIcon{
  margin-right: 25%;
    color: #fff;
    margin-bottom: 10%
}
.dated{
  
  height: 6vh;
  border-right: 3px black dashed;
  
}
hr {
  
  border: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}
.drowerBar{
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  margin: 1rem;
  margin-left: 35vw;
  margin-right: 35vw;
  border-radius: 30px;

}

.removeBtn{
  color: var(--color);
  --border-color:  #3dc2ff;
  --background: transparent;
  --color: #3dc2ff;
  --border-width: 2px;
    --border-style: solid;
    --box-shadow: none;
    --background-activated: transparent;
    --background-focused: var(--ion-color-primary, #3dc2ff);
    --background-hover: var(--ion-color-primary, #3dc2ff);
    --background-activated-opacity: 0;
    --background-focused-opacity: 0.12;
    --background-hover-opacity: 0.04;
}
// .nextBtn{
//   height: 50px;
//   margin: 5%;
//   font-size: 1.1rem;
//   --background: var(--ion-color-btn);
//   margin-top: 5%;
//    font-size: 24px;
  
// }