<ion-content>
  <app-map [height]="mapHight" [path]="coordinates" [nearesStationth]="nearestStation"></app-map>
  <div  #paymentBody id="paymentBody" class="payment-body">
    <ion-grid *ngIf="origin" class="body-card-1">
      <ion-row style="direction: rtl">
        <ion-item text-right lines="none">
          <h1>תשלום</h1>
        </ion-item>
      </ion-row>
      <ion-row style="direction: rtl">
        <ion-col size="0">
          <!-- <ion-item text-right lines="none" class="item-background-color"
            ><ion-icon name="bed" class="bedIcon"></ion-icon>
          </ion-item> -->
        </ion-col>
        <ion-col>
          <h4>{{origin?.stationName||''}}</h4>
          <p>{{origin?.stationCityName||''}}</p>
          <div class="dated" style="display: none;"></div>
        </ion-col>
      </ion-row>
      <ion-row style="direction: rtl" style="display: none;">
        <ion-col size="0"></ion-col>
        <ion-col>
          <h4>{{destination?.stationName||''}}</h4>
          <p>{{destination?.stationCityName||''}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
       <hr>
    <ion-grid class="body-card-2">
      <ion-row>
        <ion-col>
          <div style="display: flex; justify-content: space-evenly">
            <ion-fab-button
              class="addBtn"
              color="secondary"
              size="small"
              (click)="addPassengers()"
            >
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>

            <h2 style="margin-top: 13px">{{numOfPassengers}}</h2>

            <ion-fab-button
              class="removeBtn"
              size="small"
              (click)="removePassengers()"
            >
              <ion-icon name="remove"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-col>
        <ion-col><h4>מס נוסעים</h4></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><h4>סה"כ לתשלום</h4></ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <!-- <div style="margin-left: 20px"> -->
     
    <!-- </div> -->
  
</ion-content>
<div class="footer-container">
  <app-main-btn
    style="width: 100vw"
    type="click"
    text="שלם"
    (click)="onSubmit()"
  ></app-main-btn>
</div>

<!-- <div style="margin-left: 20px">
  <app-main-btn type="click" text="שלם" (click)="onSubmit()"></app-main-btn>
</div> -->
