
.no-scroll {
  --overflow: hidden;
}
.body-card-1{
  justify-content: end;
}
.body-card-2{
  text-align: end;
}

.payment-body{
  position: fixed;
  top: 7vh;
  height: 42vh;
  width: 90vw;
  overflow: hidden;
  margin-left: 5vw;
  z-index: 1;
  border-radius: 10px;
  transition: height 300ms;
  
}
.payment-body:before,
div:after {
  content:"";
  position: absolute;
}
.payment-body:before {
  top: -132px;
  width: 80px;
  height: 148px;
  border-radius: 63%;
  box-shadow: 0px 0px 0px 10000px #091d31;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
// .payment-body:before,
// div:after {
//   content:"";
//   position: absolute;
// }
// .payment-body:before {
//   top: -132px;
//   width: 80px;
//   height: 148px;
//   border-radius: 63%;
//   box-shadow: 0px 0px 0px 10000px #091d31;
//   // opacity: 0.8;
//   z-index: -1;
// }

.item-background-color{
  --ion-item-background: #50c8ff;
  margin-right: 2%;
  margin-top: 5%;
  border-radius: 10%;
  height: 40px;
  width: 70px;
}
.bedIcon{
  margin-right: 25%;
    color: #fff;
    margin-bottom: 10%
}
.dated{
  
  height: 6vh;
  border-right: 3px black dashed;
  
}
hr {
  
  border: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  margin:0 5%;
}
#drowerBar{
  position: absolute;
  bottom: 15px;
  left: 48%;
}


.removeBtn{
  color: var(--color);
  --border-color:  #3dc2ff;
  --background: transparent;
  --color: #3dc2ff;
  --border-width: 2px;
    --border-style: solid;
    --box-shadow: none;
    --background-activated: transparent;
    --background-focused: var(--ion-color-primary, #3dc2ff);
    --background-hover: var(--ion-color-primary, #3dc2ff);
    --background-activated-opacity: 0;
    --background-focused-opacity: 0.12;
    --background-hover-opacity: 0.04;
}
.footer-container {
  position: absolute;
  bottom: 3vh;
  display: flex;
}
