ion-content{
  --background:#fff;
}
ion-item{
  --background: none!important;
}
ion-text{
  line-height: 4rem;
}
.no-scroll {
  --overflow: hidden;
}
.body-card-1{
  justify-content: end;
  height: 30vh;
  padding-top: 10%;
}
.body-card-2{
  text-align: end;
}
.body-card-2 ion-item {
  border-bottom: 1px solid #FFB300;
}
.bold{
  font-weight: bold;

}

.payment-body{
  position: fixed;
  bottom: 2vh;
  height: 70vh;
  width: 90vw;
  overflow: hidden;
  margin: 0px 5vw;
  z-index: 1;
  border-radius: 10px;
  transition: height 300ms;
  box-shadow: 0px 3px 6px #18171740;
  color: #000;
  
}
.closeBig{
  height: 30vh;
}
.payment-body:before,
div:after {
  content:"";
  position: absolute;
}
.payment-body:before {
  top: -125px;
  width: 70px;
  height: 140px;
  border-radius: 63%;
  box-shadow: 0px 0px 1px #d7d8da, 0px 0px 5px #dee2e6, 0px 0px 0px #d7d8da, 0px 0px 0px 10000px #f9fafb;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
ion-icon.blackIcon{
  color: #000 !important;
}
ion-icon.grayIcon{
  color: #CECECE !important;
}

ion-col.right{
  text-align: right;
}
.padding-r{
  padding-right: 10px;
}

.item-background-color{
  --ion-item-background: #FFB300;
  margin-right: 2%;
  margin-top: 5%;
  border-radius: 10%;
  height: 40px;
  width: 70px;
}
.bedIcon{
  margin-right: 25%;
    color: #fff;
    margin-bottom: 10%
}
.dated{
  
  height: 6vh;
  border-right: 3px black dashed;
  
}
hr {
  border-top: 2px solid #FFB300;
  background: none;
}
#drowerBar{
  position: absolute;
  bottom: 15px;
  left: 48%;

}
.openCloseBtn{
  width: 39px;
  height: 40px;
  border:1px solid #FFB300;
  border-radius: 60%;
  padding: 23% 0;
}
// .blackLine{
//   background: #000;
//   width: 10px;
//   height: 4px;
//   position: absolute;
//   border-radius: 10%;
//   left: 50%;
//   transform: translateX(-50%);
// }
.addBtn{
  --background: #FFB300;
  --color: #000;
  --border-radius:  6px;
  width: 8vw;
  height: 4vh;
}
.removeBtn{
  color: var(--color);
  --border-color:  #CECECE;
  --border-radius: 6px;
  --background: transparent;
    width: 9vw;
    height: 4vh;
    --border-width: 2px;
    --border-style: solid;
    --box-shadow: none;
    --background-activated: transparent;
    
}
.footer-container {
  position: absolute;
  bottom: 3vh;
  display: flex;
}
.payBtn{
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
.hide{
  visibility: hidden;
}
